BUTEClassAdministrationSystem/BUTEClassAdministrationClient/Service References/ClassAdministrationServiceReference/ClassAdministrationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClassAdministrationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:17271/ClassAdministrationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:17271/ClassAdministrationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:17271/ClassAdministrationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BUTEClassAdministrationTypes" />
      <xsd:import schemaLocation="http://localhost:17271/ClassAdministrationService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClassAdministrationService_ReadSemesters_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadSemesters" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_ReadSemesters_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadSemestersResponse" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_CreateStudents_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateStudents" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_CreateStudents_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateStudentsResponse" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_ReadStudentsFromSemester_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadStudentsFromSemester" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_ReadStudentsFromSemester_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadStudentsFromSemesterResponse" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_ReadStudentsFromSemesterAndCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadStudentsFromSemesterAndCourse" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_ReadStudentsFromSemesterAndCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadStudentsFromSemesterAndCourseResponse" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_UpdateStudents_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStudents" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_UpdateStudents_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStudentsResponse" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_DeleteStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStudent" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_DeleteStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_CreateCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCourse" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_CreateCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCourseResponse" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_ReadCoursesFromSemester_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadCoursesFromSemester" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_ReadCoursesFromSemester_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadCoursesFromSemesterResponse" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_UpdateCourses_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCourses" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_UpdateCourses_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCoursesResponse" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_DeleteCourses_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCourses" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_DeleteCourses_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCoursesResponse" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_CreateGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateGroup" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_CreateGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_ReadGroupsFromSemester_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadGroupsFromSemester" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_ReadGroupsFromSemester_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadGroupsFromSemesterResponse" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_ReadGroupsFromSemesterAndCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadGroupsFromSemesterAndCourse" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_ReadGroupsFromSemesterAndCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadGroupsFromSemesterAndCourseResponse" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_UpdateGroups_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGroups" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_UpdateGroups_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_DeleteGroups_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGroups" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_DeleteGroups_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_CreateInstructor_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateInstructor" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_CreateInstructor_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateInstructorResponse" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_ReadInstructors_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadInstructors" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_ReadInstructors_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadInstructorsResponse" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_UpdateInstructors_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateInstructors" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_UpdateInstructors_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateInstructorsResponse" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_DeleteInstructors_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteInstructors" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_DeleteInstructors_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteInstructorsResponse" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_ReadRooms_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadRooms" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_ReadRooms_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadRoomsResponse" />
  </wsdl:message>
  <wsdl:portType name="IClassAdministrationService">
    <wsdl:operation name="ReadSemesters">
      <wsdl:input wsaw:Action="http://tempuri.org/ISemesterOperations/ReadSemesters" message="tns:IClassAdministrationService_ReadSemesters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISemesterOperations/ReadSemestersResponse" message="tns:IClassAdministrationService_ReadSemesters_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateStudents">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentOperations/CreateStudents" message="tns:IClassAdministrationService_CreateStudents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentOperations/CreateStudentsResponse" message="tns:IClassAdministrationService_CreateStudents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadStudentsFromSemester">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentOperations/ReadStudentsFromSemester" message="tns:IClassAdministrationService_ReadStudentsFromSemester_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentOperations/ReadStudentsFromSemesterResponse" message="tns:IClassAdministrationService_ReadStudentsFromSemester_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadStudentsFromSemesterAndCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentOperations/ReadStudentsFromSemesterAndCourse" message="tns:IClassAdministrationService_ReadStudentsFromSemesterAndCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentOperations/ReadStudentsFromSemesterAndCourseResponse" message="tns:IClassAdministrationService_ReadStudentsFromSemesterAndCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStudents">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentOperations/UpdateStudents" message="tns:IClassAdministrationService_UpdateStudents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentOperations/UpdateStudentsResponse" message="tns:IClassAdministrationService_UpdateStudents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentOperations/DeleteStudent" message="tns:IClassAdministrationService_DeleteStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentOperations/DeleteStudentResponse" message="tns:IClassAdministrationService_DeleteStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseOperations/CreateCourse" message="tns:IClassAdministrationService_CreateCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseOperations/CreateCourseResponse" message="tns:IClassAdministrationService_CreateCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadCoursesFromSemester">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseOperations/ReadCoursesFromSemester" message="tns:IClassAdministrationService_ReadCoursesFromSemester_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseOperations/ReadCoursesFromSemesterResponse" message="tns:IClassAdministrationService_ReadCoursesFromSemester_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCourses">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseOperations/UpdateCourses" message="tns:IClassAdministrationService_UpdateCourses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseOperations/UpdateCoursesResponse" message="tns:IClassAdministrationService_UpdateCourses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCourses">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseOperations/DeleteCourses" message="tns:IClassAdministrationService_DeleteCourses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseOperations/DeleteCoursesResponse" message="tns:IClassAdministrationService_DeleteCourses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IGroupOperations/CreateGroup" message="tns:IClassAdministrationService_CreateGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGroupOperations/CreateGroupResponse" message="tns:IClassAdministrationService_CreateGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadGroupsFromSemester">
      <wsdl:input wsaw:Action="http://tempuri.org/IGroupOperations/ReadGroupsFromSemester" message="tns:IClassAdministrationService_ReadGroupsFromSemester_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGroupOperations/ReadGroupsFromSemesterResponse" message="tns:IClassAdministrationService_ReadGroupsFromSemester_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadGroupsFromSemesterAndCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/IGroupOperations/ReadGroupsFromSemesterAndCourse" message="tns:IClassAdministrationService_ReadGroupsFromSemesterAndCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGroupOperations/ReadGroupsFromSemesterAndCourseResponse" message="tns:IClassAdministrationService_ReadGroupsFromSemesterAndCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateGroups">
      <wsdl:input wsaw:Action="http://tempuri.org/IGroupOperations/UpdateGroups" message="tns:IClassAdministrationService_UpdateGroups_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGroupOperations/UpdateGroupsResponse" message="tns:IClassAdministrationService_UpdateGroups_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteGroups">
      <wsdl:input wsaw:Action="http://tempuri.org/IGroupOperations/DeleteGroups" message="tns:IClassAdministrationService_DeleteGroups_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGroupOperations/DeleteGroupsResponse" message="tns:IClassAdministrationService_DeleteGroups_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateInstructor">
      <wsdl:input wsaw:Action="http://tempuri.org/IInstructorOperations/CreateInstructor" message="tns:IClassAdministrationService_CreateInstructor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInstructorOperations/CreateInstructorResponse" message="tns:IClassAdministrationService_CreateInstructor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadInstructors">
      <wsdl:input wsaw:Action="http://tempuri.org/IInstructorOperations/ReadInstructors" message="tns:IClassAdministrationService_ReadInstructors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInstructorOperations/ReadInstructorsResponse" message="tns:IClassAdministrationService_ReadInstructors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateInstructors">
      <wsdl:input wsaw:Action="http://tempuri.org/IInstructorOperations/UpdateInstructors" message="tns:IClassAdministrationService_UpdateInstructors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInstructorOperations/UpdateInstructorsResponse" message="tns:IClassAdministrationService_UpdateInstructors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteInstructors">
      <wsdl:input wsaw:Action="http://tempuri.org/IInstructorOperations/DeleteInstructors" message="tns:IClassAdministrationService_DeleteInstructors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInstructorOperations/DeleteInstructorsResponse" message="tns:IClassAdministrationService_DeleteInstructors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadRooms">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomOperations/ReadRooms" message="tns:IClassAdministrationService_ReadRooms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomOperations/ReadRoomsResponse" message="tns:IClassAdministrationService_ReadRooms_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClassAdministrationService" type="tns:IClassAdministrationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReadSemesters">
      <soap:operation soapAction="http://tempuri.org/ISemesterOperations/ReadSemesters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateStudents">
      <soap:operation soapAction="http://tempuri.org/IStudentOperations/CreateStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadStudentsFromSemester">
      <soap:operation soapAction="http://tempuri.org/IStudentOperations/ReadStudentsFromSemester" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadStudentsFromSemesterAndCourse">
      <soap:operation soapAction="http://tempuri.org/IStudentOperations/ReadStudentsFromSemesterAndCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStudents">
      <soap:operation soapAction="http://tempuri.org/IStudentOperations/UpdateStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStudent">
      <soap:operation soapAction="http://tempuri.org/IStudentOperations/DeleteStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCourse">
      <soap:operation soapAction="http://tempuri.org/ICourseOperations/CreateCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadCoursesFromSemester">
      <soap:operation soapAction="http://tempuri.org/ICourseOperations/ReadCoursesFromSemester" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCourses">
      <soap:operation soapAction="http://tempuri.org/ICourseOperations/UpdateCourses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCourses">
      <soap:operation soapAction="http://tempuri.org/ICourseOperations/DeleteCourses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateGroup">
      <soap:operation soapAction="http://tempuri.org/IGroupOperations/CreateGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadGroupsFromSemester">
      <soap:operation soapAction="http://tempuri.org/IGroupOperations/ReadGroupsFromSemester" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadGroupsFromSemesterAndCourse">
      <soap:operation soapAction="http://tempuri.org/IGroupOperations/ReadGroupsFromSemesterAndCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGroups">
      <soap:operation soapAction="http://tempuri.org/IGroupOperations/UpdateGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGroups">
      <soap:operation soapAction="http://tempuri.org/IGroupOperations/DeleteGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateInstructor">
      <soap:operation soapAction="http://tempuri.org/IInstructorOperations/CreateInstructor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadInstructors">
      <soap:operation soapAction="http://tempuri.org/IInstructorOperations/ReadInstructors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateInstructors">
      <soap:operation soapAction="http://tempuri.org/IInstructorOperations/UpdateInstructors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteInstructors">
      <soap:operation soapAction="http://tempuri.org/IInstructorOperations/DeleteInstructors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadRooms">
      <soap:operation soapAction="http://tempuri.org/IRoomOperations/ReadRooms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClassAdministrationService">
    <wsdl:port name="BasicHttpBinding_IClassAdministrationService" binding="tns:BasicHttpBinding_IClassAdministrationService">
      <soap:address location="http://localhost:17271/ClassAdministrationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>