BUTEClassAdministrationSystem/BUTEClassAdministrationClient/Service References/ClassAdministrationServiceReference/ClassAdministrationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClassAdministrationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:17271/ClassAdministrationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:17271/ClassAdministrationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:17271/ClassAdministrationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BUTEClassAdministrationTypes" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClassAdministrationService_ReadSemesters_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadSemesters" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_ReadSemesters_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadSemestersResponse" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_CreateStudents_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateStudents" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_CreateStudents_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateStudentsResponse" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_ReadStudentsFromSemester_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadStudentsFromSemester" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_ReadStudentsFromSemester_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadStudentsFromSemesterResponse" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_UpdateStudents_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStudents" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_UpdateStudents_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStudentsResponse" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_DeleteStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStudent" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_DeleteStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_CreateCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCourse" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_CreateCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCourseResponse" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_ReadCoursesFromSemester_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadCoursesFromSemester" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_ReadCoursesFromSemester_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadCoursesFromSemesterResponse" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_UpdateCourses_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCourses" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_UpdateCourses_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCoursesResponse" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_DeleteCourses_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCourses" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_DeleteCourses_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCoursesResponse" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_CreateGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateGroup" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_CreateGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_ReadGroupsFromSemester_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadGroupsFromSemester" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_ReadGroupsFromSemester_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadGroupsFromSemesterResponse" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_UpdateGroups_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGroups" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_UpdateGroups_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_DeleteGroups_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGroups" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_DeleteGroups_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_CreateInstructor_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateInstructor" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_CreateInstructor_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateInstructorResponse" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_ReadInstructors_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadInstructors" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_ReadInstructors_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadInstructorsResponse" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_UpdateInstructors_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateInstructors" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_UpdateInstructors_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateInstructorsResponse" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_DeleteInstructors_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteInstructors" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_DeleteInstructors_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteInstructorsResponse" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_ReadRooms_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadRooms" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_ReadRooms_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadRoomsResponse" />
  </wsdl:message>
  <wsdl:portType name="IClassAdministrationService">
    <wsdl:operation name="ReadSemesters">
      <wsdl:input wsaw:Action="http://tempuri.org/IClassAdministrationService/ReadSemesters" message="tns:IClassAdministrationService_ReadSemesters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClassAdministrationService/ReadSemestersResponse" message="tns:IClassAdministrationService_ReadSemesters_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateStudents">
      <wsdl:input wsaw:Action="http://tempuri.org/IClassAdministrationService/CreateStudents" message="tns:IClassAdministrationService_CreateStudents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClassAdministrationService/CreateStudentsResponse" message="tns:IClassAdministrationService_CreateStudents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadStudentsFromSemester">
      <wsdl:input wsaw:Action="http://tempuri.org/IClassAdministrationService/ReadStudentsFromSemester" message="tns:IClassAdministrationService_ReadStudentsFromSemester_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClassAdministrationService/ReadStudentsFromSemesterResponse" message="tns:IClassAdministrationService_ReadStudentsFromSemester_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStudents">
      <wsdl:input wsaw:Action="http://tempuri.org/IClassAdministrationService/UpdateStudents" message="tns:IClassAdministrationService_UpdateStudents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClassAdministrationService/UpdateStudentsResponse" message="tns:IClassAdministrationService_UpdateStudents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IClassAdministrationService/DeleteStudent" message="tns:IClassAdministrationService_DeleteStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClassAdministrationService/DeleteStudentResponse" message="tns:IClassAdministrationService_DeleteStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/IClassAdministrationService/CreateCourse" message="tns:IClassAdministrationService_CreateCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClassAdministrationService/CreateCourseResponse" message="tns:IClassAdministrationService_CreateCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadCoursesFromSemester">
      <wsdl:input wsaw:Action="http://tempuri.org/IClassAdministrationService/ReadCoursesFromSemester" message="tns:IClassAdministrationService_ReadCoursesFromSemester_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClassAdministrationService/ReadCoursesFromSemesterResponse" message="tns:IClassAdministrationService_ReadCoursesFromSemester_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCourses">
      <wsdl:input wsaw:Action="http://tempuri.org/IClassAdministrationService/UpdateCourses" message="tns:IClassAdministrationService_UpdateCourses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClassAdministrationService/UpdateCoursesResponse" message="tns:IClassAdministrationService_UpdateCourses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCourses">
      <wsdl:input wsaw:Action="http://tempuri.org/IClassAdministrationService/DeleteCourses" message="tns:IClassAdministrationService_DeleteCourses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClassAdministrationService/DeleteCoursesResponse" message="tns:IClassAdministrationService_DeleteCourses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IClassAdministrationService/CreateGroup" message="tns:IClassAdministrationService_CreateGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClassAdministrationService/CreateGroupResponse" message="tns:IClassAdministrationService_CreateGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadGroupsFromSemester">
      <wsdl:input wsaw:Action="http://tempuri.org/IClassAdministrationService/ReadGroupsFromSemester" message="tns:IClassAdministrationService_ReadGroupsFromSemester_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClassAdministrationService/ReadGroupsFromSemesterResponse" message="tns:IClassAdministrationService_ReadGroupsFromSemester_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateGroups">
      <wsdl:input wsaw:Action="http://tempuri.org/IClassAdministrationService/UpdateGroups" message="tns:IClassAdministrationService_UpdateGroups_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClassAdministrationService/UpdateGroupsResponse" message="tns:IClassAdministrationService_UpdateGroups_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteGroups">
      <wsdl:input wsaw:Action="http://tempuri.org/IClassAdministrationService/DeleteGroups" message="tns:IClassAdministrationService_DeleteGroups_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClassAdministrationService/DeleteGroupsResponse" message="tns:IClassAdministrationService_DeleteGroups_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateInstructor">
      <wsdl:input wsaw:Action="http://tempuri.org/IClassAdministrationService/CreateInstructor" message="tns:IClassAdministrationService_CreateInstructor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClassAdministrationService/CreateInstructorResponse" message="tns:IClassAdministrationService_CreateInstructor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadInstructors">
      <wsdl:input wsaw:Action="http://tempuri.org/IClassAdministrationService/ReadInstructors" message="tns:IClassAdministrationService_ReadInstructors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClassAdministrationService/ReadInstructorsResponse" message="tns:IClassAdministrationService_ReadInstructors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateInstructors">
      <wsdl:input wsaw:Action="http://tempuri.org/IClassAdministrationService/UpdateInstructors" message="tns:IClassAdministrationService_UpdateInstructors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClassAdministrationService/UpdateInstructorsResponse" message="tns:IClassAdministrationService_UpdateInstructors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteInstructors">
      <wsdl:input wsaw:Action="http://tempuri.org/IClassAdministrationService/DeleteInstructors" message="tns:IClassAdministrationService_DeleteInstructors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClassAdministrationService/DeleteInstructorsResponse" message="tns:IClassAdministrationService_DeleteInstructors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadRooms">
      <wsdl:input wsaw:Action="http://tempuri.org/IClassAdministrationService/ReadRooms" message="tns:IClassAdministrationService_ReadRooms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClassAdministrationService/ReadRoomsResponse" message="tns:IClassAdministrationService_ReadRooms_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClassAdministrationService" type="tns:IClassAdministrationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReadSemesters">
      <soap:operation soapAction="http://tempuri.org/IClassAdministrationService/ReadSemesters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateStudents">
      <soap:operation soapAction="http://tempuri.org/IClassAdministrationService/CreateStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadStudentsFromSemester">
      <soap:operation soapAction="http://tempuri.org/IClassAdministrationService/ReadStudentsFromSemester" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStudents">
      <soap:operation soapAction="http://tempuri.org/IClassAdministrationService/UpdateStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStudent">
      <soap:operation soapAction="http://tempuri.org/IClassAdministrationService/DeleteStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCourse">
      <soap:operation soapAction="http://tempuri.org/IClassAdministrationService/CreateCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadCoursesFromSemester">
      <soap:operation soapAction="http://tempuri.org/IClassAdministrationService/ReadCoursesFromSemester" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCourses">
      <soap:operation soapAction="http://tempuri.org/IClassAdministrationService/UpdateCourses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCourses">
      <soap:operation soapAction="http://tempuri.org/IClassAdministrationService/DeleteCourses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateGroup">
      <soap:operation soapAction="http://tempuri.org/IClassAdministrationService/CreateGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadGroupsFromSemester">
      <soap:operation soapAction="http://tempuri.org/IClassAdministrationService/ReadGroupsFromSemester" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGroups">
      <soap:operation soapAction="http://tempuri.org/IClassAdministrationService/UpdateGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGroups">
      <soap:operation soapAction="http://tempuri.org/IClassAdministrationService/DeleteGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateInstructor">
      <soap:operation soapAction="http://tempuri.org/IClassAdministrationService/CreateInstructor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadInstructors">
      <soap:operation soapAction="http://tempuri.org/IClassAdministrationService/ReadInstructors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateInstructors">
      <soap:operation soapAction="http://tempuri.org/IClassAdministrationService/UpdateInstructors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteInstructors">
      <soap:operation soapAction="http://tempuri.org/IClassAdministrationService/DeleteInstructors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadRooms">
      <soap:operation soapAction="http://tempuri.org/IClassAdministrationService/ReadRooms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClassAdministrationService">
    <wsdl:port name="BasicHttpBinding_IClassAdministrationService" binding="tns:BasicHttpBinding_IClassAdministrationService">
      <soap:address location="http://localhost:17271/ClassAdministrationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>