BUTEClassAdministrationSystem/BUTEClassAdministrationClient/Service References/ClassAdministrationServiceReference/ClassAdministrationService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:17271/ClassAdministrationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BUTEClassAdministrationTypes" />
  <xs:import schemaLocation="http://localhost:17271/ClassAdministrationService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="ReadSemesters">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadSemestersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BUTEClassAdministrationTypes" minOccurs="0" name="ReadSemestersResult" nillable="true" type="q1:ArrayOfSemester" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateStudents">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BUTEClassAdministrationTypes" minOccurs="0" name="students" nillable="true" type="q2:ArrayOfStudent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateStudentsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadStudentsFromSemester">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="semesterId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadStudentsFromSemesterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BUTEClassAdministrationTypes" minOccurs="0" name="ReadStudentsFromSemesterResult" nillable="true" type="q3:ArrayOfStudent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadStudentsFromCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="courseId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadStudentsFromCourseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BUTEClassAdministrationTypes" minOccurs="0" name="ReadStudentsFromCourseResult" nillable="true" type="q4:ArrayOfStudent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStudents">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BUTEClassAdministrationTypes" minOccurs="0" name="students" nillable="true" type="q5:ArrayOfStudent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStudentsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStudents">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="studentIds" nillable="true" type="q6:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStudentsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="studentId" type="xs:int" />
        <xs:element minOccurs="0" name="courseId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveStudentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BUTEClassAdministrationTypes" minOccurs="0" name="courses" nillable="true" type="q7:ArrayOfCourse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCourseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadCoursesFromSemester">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="semesterId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadCoursesFromSemesterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BUTEClassAdministrationTypes" minOccurs="0" name="ReadCoursesFromSemesterResult" nillable="true" type="q8:ArrayOfCourse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCourses">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BUTEClassAdministrationTypes" minOccurs="0" name="courses" nillable="true" type="q9:ArrayOfCourse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCoursesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCourses">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="courseIds" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCoursesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/BUTEClassAdministrationTypes" minOccurs="0" name="groups" nillable="true" type="q10:ArrayOfGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateGroupResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadGroupsFromSemester">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="semesterId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadGroupsFromSemesterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/BUTEClassAdministrationTypes" minOccurs="0" name="ReadGroupsFromSemesterResult" nillable="true" type="q11:ArrayOfGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="semesterId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGroupsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateInstructor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/BUTEClassAdministrationTypes" minOccurs="0" name="instructors" nillable="true" type="q12:ArrayOfInstructor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateInstructorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadInstructors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadInstructorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/BUTEClassAdministrationTypes" minOccurs="0" name="ReadInstructorsResult" nillable="true" type="q13:ArrayOfInstructor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateInstructors">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/BUTEClassAdministrationTypes" minOccurs="0" name="instructors" nillable="true" type="q14:ArrayOfInstructor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateInstructorsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteInstructors">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="instructorIds" nillable="true" type="q15:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteInstructorsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadRooms">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadRoomsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/BUTEClassAdministrationTypes" minOccurs="0" name="ReadRoomsResult" nillable="true" type="q16:ArrayOfRoom" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadRoomsFromCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="courseId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadRoomsFromCourseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/BUTEClassAdministrationTypes" minOccurs="0" name="ReadRoomsFromCourseResult" nillable="true" type="q17:ArrayOfRoom" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>