BUTEClassAdministrationSystem/BUTEClassAdministrationClient/Service References/ClassAdministrationServiceReference/ClassAdministrationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClassAdministrationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:17271/ClassAdministrationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:17271/ClassAdministrationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:17271/ClassAdministrationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BUTEClassAdministrationTypes" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClassAdministrationService_CreateStudents_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateStudents" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_CreateStudents_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateStudentsResponse" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_ReadStudentsFromSemester_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadStudentsFromSemester" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_ReadStudentsFromSemester_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadStudentsFromSemesterResponse" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_UpdateStudents_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStudents" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_UpdateStudents_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStudentsResponse" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_DeleteStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStudent" />
  </wsdl:message>
  <wsdl:message name="IClassAdministrationService_DeleteStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStudentResponse" />
  </wsdl:message>
  <wsdl:portType name="IClassAdministrationService">
    <wsdl:operation name="CreateStudents">
      <wsdl:input wsaw:Action="http://tempuri.org/IClassAdministrationService/CreateStudents" message="tns:IClassAdministrationService_CreateStudents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClassAdministrationService/CreateStudentsResponse" message="tns:IClassAdministrationService_CreateStudents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadStudentsFromSemester">
      <wsdl:input wsaw:Action="http://tempuri.org/IClassAdministrationService/ReadStudentsFromSemester" message="tns:IClassAdministrationService_ReadStudentsFromSemester_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClassAdministrationService/ReadStudentsFromSemesterResponse" message="tns:IClassAdministrationService_ReadStudentsFromSemester_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStudents">
      <wsdl:input wsaw:Action="http://tempuri.org/IClassAdministrationService/UpdateStudents" message="tns:IClassAdministrationService_UpdateStudents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClassAdministrationService/UpdateStudentsResponse" message="tns:IClassAdministrationService_UpdateStudents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IClassAdministrationService/DeleteStudent" message="tns:IClassAdministrationService_DeleteStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClassAdministrationService/DeleteStudentResponse" message="tns:IClassAdministrationService_DeleteStudent_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClassAdministrationService" type="tns:IClassAdministrationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateStudents">
      <soap:operation soapAction="http://tempuri.org/IClassAdministrationService/CreateStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadStudentsFromSemester">
      <soap:operation soapAction="http://tempuri.org/IClassAdministrationService/ReadStudentsFromSemester" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStudents">
      <soap:operation soapAction="http://tempuri.org/IClassAdministrationService/UpdateStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStudent">
      <soap:operation soapAction="http://tempuri.org/IClassAdministrationService/DeleteStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClassAdministrationService">
    <wsdl:port name="BasicHttpBinding_IClassAdministrationService" binding="tns:BasicHttpBinding_IClassAdministrationService">
      <soap:address location="http://localhost:17271/ClassAdministrationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>